.navbar-brand{color:blue;
  font-size: 50px;
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 557;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 1,
    "ELSH" 46.4,
    "ELXP" 31;
}

.navbar {
    background-color: black !important;
}


.navbar .nav-link {
    color: white !important;
}



.dropdown-menu {
    background-color: black !important;
}


.dropdown-item {
    color: white !important;
}


.dropdown-item:hover {
    background-color: #333 !important;
    color: white !important;
}
body{background-color: rgb(4, 197, 191);}

.card{background-color: grey;}
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.formulario{background-color: #000000;}